[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
pillow = "*"
djoser = "*"
python-decouple = "*"
django-debug-toolbar = "*"
drf-spectacular = "*"
mysqlclient = "*"
django-countries = "*"
drf-nested-routers = "*"
django-filter = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
